{% extends 'pages/info.html' %}

{% load staticfiles%}

{% block content %}
<div class="row">
<div class="col-md-8">
<br>
<p>For {{ years_produced }} years, North American Potato Market News has provided market information to the potatoe industry. The newsletter is published 48 times per year and covers all issues impacting potato markets in the United States and Canada.</p>

<h1>Our Mission</h1>
<p>To maintain NAPMN as the premier source of market information for the potato industry.</p>

<h1>Our Publisher</h1>
<img class="pull-left" style="max-width:200px;padding-right:10px"src="{% static 'images/bruce_huffaker.jpg' %}">

<p>Bruce Huffaker, publisher of North American Potato Market News, has an M.S. degree in economics from Brigham Young University. His graduate studies explored the market dynamics of the potato industry.</p>

<p>Bruce spent twelve years working as a commodity analyst, first for Clayton Brokerage of St. Louis, and then for Pillsbury. He then spent four years as a senior buyer for Burger King. He spent several years advising Burger King on French Fry purchasing strategies before he assumed the lead role in making those purchases.</p>

<p>In November of 1992, Bruce launched North American Potato Market News in order to provide the industry with a comprehensive source of information and analysis covering potato markets. His training and experience place him in a unique position to evaluate and explain events in the potato market in a comprehensive and clear manner.</p>

<h1>Our Services</h1>
<p>In addition to the newsletter, we also provide market consulting services focused on the dynamics of potato market supply and demand.</p>

<p>We also serve as a source of historical market information.</p>
</div>
<div class="col-md-4">
<br>
<p><a class="btn btn-primary btn-lg" href="{% static 'newsletter/sample.pdf' %}" role="button">Sample Newsletter</a></p>
<p><a class="btn btn-primary btn-lg" href="#" role="button">Subscribe &raquo;</a></p>
</div>
</div>
{% endblock %}
